body{
        -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}    
 
header{
    text-align: left;
    line-height:60px;
    margin-top: 0px;
    padding-top: 320px;
    padding-left: 5.8%;
    height: 500px;
    background-size: cover;
    /* background:url("../../pics/cover2.png"); */
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    background-repeat:no-repeat；

    /*-webkit-transition: all 1s ease;
    transition: all 1s ease;*/
}

header.sticky {
    position: fixed;
    line-height: 48px;
    height: 60px;
    width: 100%;
    color: #fff;
    text-align: left;
    padding-top: 18px;
	padding-left: 5.8%;
    z-index: 1;
}

header #mainhead{
    font-size: 42px;
}
header.sticky #mainhead{
    font-size: 28px;
    line-height: 24px;
}

#subhead{
    /*font-family:Georgia, 'Times New Roman', Times, serif;*/
    font-size: 24px;
}

p{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: Camphor,Open Sans,Segoe UI,sans-serif; */
    font-family: 'Muli', sans-serif;
    line-height: 24px;
    font-weight: 300;
    
}

p.info{
    font-size: 12px;
    font-weight: 400;
}

p em{
    font-style: normal;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: 16px;
}

p.info em{
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
}

.reverse{
    color: #fff;   
    text-transform: uppercase;
    align: center;
}

h1{
    /* font-size: 24px; */
    font-family: 'Ubuntu', sans-serif;
    /* line-height: 18px; */
}

h2{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 24px;
}
/* h2 mark{
    color: #ffffff;
    font-weight: 400;
    opacity: 50%;
    background-color: #ff463f;
} */

h3{
    color: #444;
    font-size: 20px;
    line-height: 36px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

h3 em{

    font-weight: 700;

}

h4{
    color:white;
    font-size: 10px;
    margin-top:70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p mark{
    color:white;
    /* background-color:red; */
    font-weight: 600;
}

#Ubax{
    position: relative;
    top:40px;
}

main.sticky{
    position: fixed;
    margin-top: 300px;
}

.box-blank{
    height: 50px;
    width: 100%;
}

img{
    width: 100%;
}

.container-fluid{
    background-image: none;
    width: 100%;
    align-content: center;
    padding-left:5%;
    padding-right:0;
}

.container-fluid.container-bottom{
    background-image: none;
    width: 100%;
    align-content: center;
    padding-left:5%;
    padding-right:5%;
}

#link{      
    padding-left:55px; 
    padding-right:55px;
    width: 140px;   
}

#item1{
    position: relative;
}

#left{
    padding-top: 10px;
    padding-bottom: 80px;
}

.left-margin{
    padding: 15px 40px 10px 40px;
    background-color: #fff;
    border: 0px solid #000;
    border-left-width: 6px;
    border-radius: 4px;
}


/* @media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
} */